 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
} 

 body {
  line-height: 1.6;
  color: #1e293b;
}

/* HEADER */
 header {
  background: #020617;
  padding: 15px 8%;
  position: sticky;
  top: 0;  
}

 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
   color: #38bdf8;
   font-size: 1.6rem;
   font-weight: 700; 
} 

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;  
}

 .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 0.95rem; 
}

.nav-links a:hover {
  color: #38bdf8; 
} 

/* DROPDOWN */
 .dropdown {
  position: relative;
}

 .dropdown-menu {
  display: none;
  position: absolute;
  background: #020617;
  top: 35px;
  min-width: 160px;
  border-radius: 6px; 
}

.dropdown-menu li a {
    display: block;
  padding: 10px;  
}

.dropdown:hover .dropdown-menu {
    display: block;  
} 

/* HERO */
 .hero {
  height: 90vh;
  background: linear-gradient(to right, #0ea5e9, #2563eb);
  display: flex;
  align-items: center;
  padding: 0 8%;
  color: white;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  margin: 15px 0;
}

.btn {
  background: white;
  color: #2563eb;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

.btn:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
} */

/* FEATURES */
 .features {
  padding: 70px 8%;
  background: #f8fafc;
  text-align: center;
}

.feature-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.feature-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
} */

 .feature-card i {
  font-size: 2.5rem;
  color: #2563eb;
  margin-bottom: 15px;
} */ 

/* FOOTER */
 footer {
  background: #020617;
  color: #cbd5f5;
  text-align: center;
  padding: 25px;
}

footer a {
  color: #38bdf8;
  text-decoration: none;
} 

/* MOBILE */


   .menu-toggle {
    display: block;
  }

  .hero h1 {
    font-size: 2.2rem;
  }
 
.menu-toggle {
  display: none;
  color: white;
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #020617;
    position: absolute;
    top: 60px;
    right: 8%;
    width: 200px;
    padding: 15px;
  }
}

  .nav-links.active {
    display: flex;
  } 